body {
	font-family: 'Open Sans', sans-serif;
	margin: 0 auto;
	width: 100%;
	height: 100vh;
	overflow: hidden;
}

#table {
	height:100%;
	padding: 0;
	background: maroon;
	float: left;
}

.view-left, .view-right {
	height: 100%;
	width: 100%;
	float: left;
	padding-bottom: 10px;
}

.player-left, .player-right {
	width:90%;
	height:100vh;
	display: block;
	position: relative;
	margin: 0 auto;
	max-height: fit-content;
}

.player-left-hand, .player-right-hand {
	padding: 10px 0;
	display: inline-flex;
	flex-direction: column;
	overflow-x: scroll;
	float: left;
	border: 1px;
	position : relative;
	margin-top: -20px;
}

.player-right-hand {
	flex-direction: column-reverse;
}

.player-left-hand img, .player-right-hand img {
	width: 100%;
	box-shadow: 0;
	border: none;
	border-radius:10px;
}

.player-left-hand img {
	transform: scale(0.6) rotate(90deg);
}

.player-right-hand img {
	transform: scale(0.6) rotate(270deg);
}

.player-left-hand img.rest, .player-right-hand img.rest {
	margin-top: -180px;
}


.view-center {
	float:left;
}

.view-top {
	height: 25vh;
	width: 100%;
	float: left;
	padding-bottom: 10px;
}

.player-top {
	width:80%;
	display: block;
	position: relative;
	margin: 0 auto;
	max-width: fit-content;
}

.player-top-hand {
	height: 95%;
	padding: 15px 10px 10px;
	display: inline-flex;
	flex-direction:row-reverse;
	overflow-x: scroll;
	float: left;
	border: 1px;
	position : relative;
}

.player-top-hand img {
	width: 100%;
	box-shadow: 0;
	border: none;
	border-radius:10px;
}

.player-top-hand img.rest {
	margin-right: -60px;
}


.view-middle {
	height: 50vh;
	width: 100%;
	float: left;
	display: block;
}

.playing-card {
	min-width: 0;
	min-height: 0;
	position: relative;
}

.view-bottom {
	width: 100%;
	height: 25vh;
	float: left;
}

.player-bottom {
	width:85%;
	display: block;
	position: relative;
	margin: 0 auto;
	max-width: fit-content;
}

.player-bottom-hand {
	height: 95%;
	width:100%;
	padding: 25px 10px 0px;
	display: inline-flex;
	overflow-x: scroll;
	float: left;
	border: 1px;
	position : relative;
}

.player-bottom-hand img {
	width: 100%;
	box-shadow: 0;
	border: none;
	border-radius:10px;
}

.player-bottom-hand img.rest {
	margin-left: -60px;
}

.player-bottom-hand img:hover {
	transform: translateY(-15px);
}

.player-bottom-hand img.selected {
	transform: translateY(-15px);
	box-shadow: -0px 0px 5px 5px #ffff1c;
}

.player-buttons {
	width: 20%;
	display: inline-block;
	height: 12.5vh;
	z-index: 999;
}

.player-buttons button {
	background-color: #fff;
	border: none;
	color: black;
	padding: 0.45em 0.75em;
	text-align: center;
	text-decoration: none;
	display: block;
	font-size: 0.75em;
	float: right;
	margin: 0.2em 1.25em 0.5em;
}

.player-submission {
	width: 80%;
	height: 12.5vh;
	display: inline-block;
	float: left;
}

#console {
	height: 100%;
	background: white;
	float: left;
}

.chatroom-display {
	width: 100%;
	height: 80vh;
	margin-top: 2.5vh;
	padding: 5%;
	border: black 1px solid;
	overflow-y: scroll;
}

.chatroom-block {
	font-size: 0.75em;
	margin-bottom: 0.5em;
}

.chatroom-user, .chatroom-command {
	color: black;
	font-weight: 800;
}

.chatroom-user {
	margin-right: 0.25em;
	color: blue;
}

.chatroom-user.current-user {
	color: red;
}

.chatroom-user-input {
	width: 100%;
	height: 12.5vh;
	max-height: 12.5vh;
	margin: 2.5vh 0;
	font-size: 0.75em;
	padding: 5%;
	border: black 1px solid;
}

.chatroom-message {
	overflow-wrap: break-word;
}

/* width */
::-webkit-scrollbar {
	width: 10px;
}

.player-bottom-hand::-webkit-scrollbar, 
.player-top-hand::-webkit-scrollbar, 
.player-left-hand::-webkit-scrollbar, 
.player-right-hand::-webkit-scrollbar {
	display:none;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}