body {
	font-family: 'Open Sans', sans-serif;
	margin: 0 auto;
	width: 100%;
	height: 100vh;
	overflow: hidden;
}

#table {
	height:100%;
	padding: 0;
	background: maroon;
	float: left;
}

.player-view {
	width: 100%;
	height: 70vh;
}

.view-left, .view-right {
	height: 100%;
	width: 100%;
	float: left;
	padding-bottom: 10px;
}

.player-left, .player-right {
	width:95%;
	display: block;
	position: relative;
	margin: 0 auto;
	max-height: fit-content;
}

.player-left-hand, .player-right-hand {
    height: 95%;
    padding: 15px 0;
    display: inline-flex;
    flex-direction: column;
	overflow-x: scroll;
	float: left;
	border: 1px;
	position : relative;
}

.player-left-hand img, .player-right-hand img {
	width: 100%;
	box-shadow: 0;
	border: none;
	border-radius:10px;
}

.player-left-hand img.rest, .player-right-hand img.rest {
	margin-top: -80px;
}


.view-center {
	float:left;
}

.view-top {
	height: 17vh;
	width: 100%;
	float: left;
	padding-bottom: 10px;
}

.player-top {
	width:70%;
	display: block;
	position: relative;
	margin: 0 auto;
	max-width: fit-content;
}

.player-top-hand {
    height: 95%;
    padding: 15px 0;
	display: inline-flex;
	overflow-x: scroll;
	float: left;
	border: 1px;
	position : relative;
}

.player-top-hand img {
	width: 100%;
	box-shadow: 0;
	border: none;
	border-radius:10px;
}

.player-top-hand img.rest {
	margin-right: -80px;
}


.view-middle {
    height: 50vh;
    width: 100%;
    float: left;
    display: block;
}

.playing-card {
	min-width: 0;
	min-height: 0;
	position: relative;
}




.player-bottom {
	width: 100%;
	height: 30vh;
}

.player-hand {
	display: block;
	position: relative;
	margin: 0 auto;
	max-width: fit-content;
}

.card-display {
    height: 95%;
    padding: 25px 12.5px 0;
	display: inline-flex;
	overflow-x: scroll;
	float: left;
	border: 1px;
	position : relative;
}

.card-display img {
	width: 100%;
	box-shadow: 0;
	border: none;
	border-radius:10px;
}

.card-display img.rest {
	margin-left: -80px;
}

.card-display img:hover {
	transform: translateY(-15px);
}

.card-display img.selected {
	transform: translateY(-15px);
	box-shadow: -0px 0px 5px 5px #ffff1c;
}

.user-buttons {
	width: 100%;
	height: 100%;
	float: left;
}

#console {
	height: 100%;
	background: white;
	float: left;
}

.chatroom-display {
	width: 100%;
	height: 80vh;
	margin-top: 2.5vh;
	padding: 5%;
	border: black 1px solid;
	overflow-y: scroll;
}

.chatroom-block {
	font-size: 0.75em;
	margin-bottom: 0.5em;
}

.chatroom-user, .chatroom-command {
	color: black;
	font-weight: 800;
}

.chatroom-user {
	margin-right: 0.25em;
	color: blue;
}

.chatroom-user.current-user {
	color: red;
}

.chatroom-user-input {
	width: 100%;
	height: 12.5vh;
	max-height: 12.5vh;
	margin: 2.5vh 0;
	font-size: 0.75em;
	padding: 5%;
	border: black 1px solid;
}

.chatroom-message {
	overflow-wrap: break-word;
}

/* width */
::-webkit-scrollbar {
	width: 10px;
}

.card-display::-webkit-scrollbar, 
.player-top-hand::-webkit-scrollbar, 
.player-left-hand::-webkit-scrollbar, 
.player-right-hand::-webkit-scrollbar {
	display:none;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}